doctype html
html
  head
    title Salman Dance Academy
    block scripts
    block style
  body
     nav#navbar
        ul
            div#logo 
                img(src="../static/img/logo.png")
                | HDA
            li #[a(href="/home") Home]  
            li #[a(href="#about") About]  
            li #[a(href="#services") Services]  
            li #[a(href="#class") Class Info]  
            li #[a(href="/contact") Contact Us]  
block content

block foot
   footer#footer 
      | Copyright © 2021 salmanAcademy@gmail.com | All rights reserved


